{% extends 'website/base.html' %}
{% block head %}

{% load static %}

		<!-- Main -->
			<section id="main" class="wrapper">
				<header class = 'agive my-3'>
						<div class="row">
								<div class="col py-5"></div>
							</div>		
					
					<h2>Donations</h2>
					<p class = 'text-white'>for more Arts on the Hudson</p>
				</header>
				Done
				</section>
				

				<section>
						<div class = 'container'>
								</div>
						</section>
	

{% include "website/footer.html" %}
{% block foot %} {% endblock %}

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.scrollex.min.js"></script>
			<script src="assets/js/skel.min.js"></script>
			<script src="assets/js/util.js"></script>
			<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
			<script src="assets/js/main.js"></script>

    </body>
    {% endblock %}
    
</html>