{% extends 'website/base.html' %}
{% block head %}

		<!-- Main -->
			<section id="main" class="wrapper">
				<header class = 'acontact my-5'>
						<div class = "row">
							<div class = "col-sm-6 p-5 text-left mx-5" style="background-color: rgb(0,0,0,.5);border-radius: 1em;">
					<h2>Drop us a line at</h2>
					<h3> CONTACT@ARTSONTHEHUDSON.COM </h3>
					<p class = "text-white"> 
						We care about what you have to say, and appreciate you taking the time to write us.  
					<br/>
						Sign up for mailing list, or please see our Donate page for more on how you can help! 
					</p>
					<div class = "buttons py-3">
						<a href="/" class="button special ">Mailing List</a>
						<a href="/donate" class="btn button" style="background-color:ivory;">Donate</a>
					</div>
				</div>
				</div>
				</header>

				

{% include "website/footer.html" %}
{% block foot %} {% endblock %}

    </body>
    {% endblock %}
    
</html>