{% extends 'website/base.html' %}
{% block head %}

		<!-- Main -->
			<section id="main" class="wrapper">
				<header class = 'acontact my-5'>
					<h2>Contact</h2>
					<p class = 'text-white'>drop us a line</p>
				</header>

				<section id="four" class="wrapper style2 special">
						<div class="inner">
							<header>
										<h2>Drop us a line at Contact@Artsonthehudson.com</h2>
										<p> We care about what you have to say, and appreciate you taking the time to write us.  
										<br> Sign up for mailing list, or please see our Donate page for more on how you can help! </p>
							</header>
							<a href="/" class="button special fit">Mailing List</a>
							<a href="/donate" class="button fit">Donate</a>
							</div>
						</section>
			

{% include "website/footer.html" %}
{% block foot %} {% endblock %}

    </body>
    {% endblock %}
    
</html>