{% extends 'website/base.html' %}
{% block head %}

		<!-- Main -->
			<section id="main" class="wrapper">
				<header class = 'acontact my-5'>
					<h2>Contact</h2>
					<p class = 'text-white'>drop us a line</p>
				</header>

				<section id="four" class="wrapper style2 special">
						<div class="inner">
							<header>
										<h2>Drop us a line at Contact@Artsonthehudson.com</h2>
										<p> We care about what you have to say, and appreciate you taking the time to write us.  
										<br> Sign up for mailing list, or please see our Donate page for more on how you can help! </p>
							</header>
							<li><a href="/" class="button special fit">Mailing List</a></li>
							<li><a href="/donate" class="button fit">Donate</a></li>
							</div>
						</section>
			

{% include "website/footer.html" %}
{% block foot %} {% endblock %}

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.scrollex.min.js"></script>
			<script src="assets/js/skel.min.js"></script>
			<script src="assets/js/util.js"></script>
			<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
			<script src="assets/js/main.js"></script>

    </body>
    {% endblock %}
    
</html>