{%load static %}
<!-- Footer -->
        <footer id="footer">
				<div class="inner">
					<ul class="icons">
						<li><a href="https://www.facebook.com/groups/210561549077640/" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
						<li><a href="https://www.instagram.com/artsonthehudson/" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
					</ul>
					<ul class="contact">
						<li>Jersey City, NJ 07302</li>
					</ul>
					<ul class="links">
						<li><a href="/{{index}}">Home</a></li>
						<li><a href="/contact">Contact</a></li>
						<li><a href="/donate">Donate</a></li>
					</ul>
					<p class="copyright">&copy; Arts on the Hudson 2018. All rights reserved.</p>
				</div>
			</footer>

			<script src="{% static 'website/js/jquery.min.js' %}"></script> -->
			<!-- <script src="{% static 'website/js/jquery.scrollex.min.js' %}"></script>
			<script src="{% static 'website/js/skel.min.js' %}"></script>
			<script src="{% static 'website/js/util.js' %}"></script>
			[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif] -->
			<!-- <script src="{% static 'website/js/main.js' %}"></script>
			<script src="{% static 'website/js/vue.js' %}"></script>
			<script src="{% static 'website/js/jqueryupdate.js' %}"></script> -->
		   <script src="{% static 'website/js/AOTHscript.js' %}"></script> 
			<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.1/js/bootstrap.bundle.js"></script>
		
        {% block foot %} {% endblock %}