{% extends 'base.html' %}
{% block head %}
		<!-- Main -->
			<section id="main" class="wrapper">
				<header>
					<h2>Generic</h2>
					<p>Lorem justo in tellus aenean lacinia felis.</p>
				</header>

{% include "footer.html" %}
{% block foot %} {% endblock %}
{%endblock %}
		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.scrollex.min.js"></script>
			<script src="assets/js/skel.min.js"></script>
			<script src="assets/js/util.js"></script>
			<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
			<script src="assets/js/main.js"></script>

	</body>
</html>