{% extends 'website/base.html' %} {% block head %} {% load markdown_deux_tags %} {% load thumbnail %}



<!-- Main -->
<section id="main" class="wrapper">
	<div class='row'>
		<div class="col my-5 container-fluid'"></div>


	</div>
	<div class='container'>
		<div class="row">
			<div class="col-sm mt-5 py-2">
				<img src="{{event.photo.url}}" class="img-fluid aeventimage">
			</div>
			<div class='card col-sm-8 mt-5 pt-2 pr-4 '>
				<div class='row h-50'>
					<div class='col-sm-8'>
						<h2 class="aevent-p text-uppercase card-title">{{event.name}}</h2>
						<p class='aevent-p  text-uppercase card-text'>{{event.blurb}}</p>
						<br>
						<p class='aevent-p'>
							<span class="fa fa-map-marker"></span> {{event.location}}</p>
						<p class='aevent-p'>
							<span class="fa fa-calendar-o"></span> {{event.date}}</p>
						<p class='aevent-p'>
							<span class="fa fa-clock-o"></span> {{event.time}}</p>
					</div>
				</div>
				<div class="row abutton-padding">
					<div class="col-sm w-100">
							{% if event.ticket_url %}
                            <a href="https://www.eventcombo.com/e/{{event.ticket_url}}" target="_blank" class="button special small abutton aticket">BUY TICKETS</a>
                            {% endif %}
						<br> {% if event.fb_url %}
						<a href="https://www.facebook.com/events/{{event.fb_url}}" target="_blank" class="button special small abutton">RSVP On Facebook</a>
						{% endif %}
						
					</div>
				</div>



			</div>

		</div>
		<div class=r ow>
			<div class='col-sm ablogsubmission'>
				{{event.body|markdown}}
			</div>
			{% if event_signup and event.past == False %}

			<div class="col-sm">
				<div id='signup' class='pt-5'>
					<h2> Sign up below!</h2>
					<form method="POST" enctype='multipart/form-data'>
						{% csrf_token %}
						<div class="row uniform">
							<div class="6u 12u$(xsmall)">
								<label for="demo-name">First Name</label>
								<input type="text" name="firstname" id="firstname" value="" required />
							</div>
							<div class="6u$ 12u$(xsmall)">
								<label for="demo-email">Last Name</label>
								<input type="text" name="lastname" id="lastname" value="" required />
							</div>
							<div class="12u$">
								<label for="message">Email</label>
								<input type="email" name="email" id="email" rows="6" required>
								</textarea>
							</div>
							{%if event_signup|length == 1 %} {% for signup in event_signup %}
							<label>Admission - ${{ signup.price }} </label>
							{% endfor %} {% endif %} {% if event_signup|length > 1 %}
							<div class="12u$">

								<label for="session">Signup Levels</label>
								<select name="session">
									{% for signup in event_signup %}
									<option value="{{signup.name}}">{{signup.name}} - ${{signup.price}}</option>
									{% endfor %}
								</select>
							</div>
							{% endif %}
							<div class="12u$">
								<ul class="actions">
									<li>
										<input type="submit" value="Sign up!" class="special" />
									</li>
								</ul>
							</div>
						</div>
					</form>
				</div>
				{% endif %}
			</div>
</section>

{% include "website/footer.html" %} {% block foot %} {% endblock %}

</body>
{% endblock %}

</html>