body{
    background-color: #fbf8ff;
    scroll-behavior: smooth !important;
}


.aevent-thumbnail-left{
    display: inline-block;
    float: left;
    padding-right: 3%;
    position: relative;
    width: 100% !important;
}

h7{
    font-size: 54px !important;
}

#banner{
    background-image: url('../images/kidsArtwork.jpg');
    min-height: 35em;
}

p{
    color:black;
}

.wrapper{
    padding: 0 0 3em 0;
}

.awrapper{
    padding: 3em 0 3em 0;
}

.asmall-logo{
    height:7em;
    padding-bottom:2em;
}

.amenu{
    font-size:18px;
    text-decoration: none;
}

.amenu:hover{
    background-color:rgb(235, 235, 253);
}

.aeducation{
    background-image:url('../images/education1.jpg');
    padding: 12em 0 12em 0;
}

.aevent-date{
    display: inline-block;
    float: left;
    text-align: center;
    margin: 0 auto;
    left: 0;
    position: absolute;
    background-color: #4dbea0  ;
    width: 65% !important;
    color:white;
}
.aticket{
    background-color:red !important;  
}

.abutton-padding{
    padding-top:15%;
}

.ablogsubmission img{ 
    max-width: 100%;
    height: auto;
}

.aevent-block{
    padding: 1.5em 0 1.5em 0;
    border-bottom:2px solid gray;
}

.abutton{
    width: 100%;
}

.aeventinfo{
    border-radius: 20px;
    position: relative;
    color: white;
    font-family: 'Pathway Gothic One';
	background: rgb(42, 44, 44);
	border: 4px solid #c2e1f5;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.aeventimage{
    max-height:30em;
}

.aeventinfo:after, .aeventinfo:before {
	top: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.aeventinfo:after {
	border-color: rgba(77, 190, 160, 0);
	border-top-color: #4DBEA0;
	border-width: 30px;
	margin-left: -30px;
}
.aeventinfo:before {
	border-color: rgba(194, 225, 245, 0);
	border-top-color: #c2e1f5;
	border-width: 36px;
	margin-left: -36px;
}

.aevents{
    background-image:url('../images/Thecrew.jpg');
    padding: 12em 0 12em 0;
}

.aprogram{
    padding: 10em 0 3em 0;
}

.aventpage{
    padding: 15em 0 15em 0;
}

.astaff{
    padding: 10em 0 7em 0;
    background-image: url('../images/aboutBg.jpg');

}

.amedia{
    padding: 12em 0 12em 0;
    background-image: url('../images/rut_bg.jpg'); 
}

.aevent-p{
    margin:0;
    text-decoration: inherit;
}

.apaddingtop{
    padding-top:20px;
}

.navbar-brand{
    text-decoration: none;
}

@media screen and (max-width: 480px) {
    .navbar-brand{
        font-size: 15px;!
    }
}

.acontentthumbnail{
    max-height:250px;
    height:auto;
}

.acontentvids{
    width:100%;
    height:400px;
    padding-bottom:30px;
}

.avidpadding{
    padding-left: 20%;
}

.acontact{
    padding: 10em 0 3em 0;
    background-image: url('../images/contactBG.jpg')
}

.agive{
    padding: 10em 0 10em 0;
    background-image: url('../images/paint_donate_background.jpg')
}

.aeventh2{
    font-size: 1.75em;
    margin:0;
}

@media screen and (max-width: 480px) {
    .athumbnail{
        margin-left:2.5%;
    }

    .acontentvids{
        width:100%;
        height:200px;
    }


    .avidpadding{
        padding-left: 5%;  
    }

    }