{% extends 'website/base.html' %}
{% block head %}

{% load static %}

		<!-- Main -->
			<section id="main" class="wrapper">
				<header class = 'agive my-3'>
						<div class="row">
								<div class="col py-5"></div>
							</div>	
							<div class = "donateBannerText text-white text-left p-5 col-sm-6 m-2 mx-4" style = "background-color:rgb(0,0,0,.5);border-radius: 1em;">	
								<h2>
                                    {{request.user.first_name }} {{ request.user.last_name }}
								</h2>
								<p class = 'text-white'>
									For 38 years, Arts on the Hudson has continued to provide low cost arts education, events, and media to all ages in Jersey City.  
									Thank you for promoting the arts in our community.
								</p>
								<a href = 'https://www.crowdrise.com/ArtsontheHudson' target = "_blank">
									<button class = "button special m-3">donate</button>
								</a>
							</div>
						
				</header>
	

{% include "website/footer.html" %}
{% block foot %} {% endblock %}

		<!-- Scripts -->

    </body>
    {% endblock %}
    
</html>